/*
  Icon Font: ncfontcustom
*/

@font-face {
  font-family: "ncfontcustom";
  src: url("./ncfontcustom.eot?t=20180731173917");
  src: url("./ncfontcustom.eot?t=20180731173917#iefix") format("embedded-opentype"),
       url("./ncfontcustom.woff?t=20180731173917") format("woff"),
       url("./ncfontcustom.ttf?t=20180731173917") format("truetype"),
       url("./ncfontcustom.svg?t=20180731173917#ncfontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "ncfontcustom";
    src: url("./ncfontcustom.svg?t=20180731173917#ncfontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-nc-arrow-down:before,
.icon-nc-qq:before,
.icon-nc-symbol1:before,
.icon-nc-symbol1-1:before,
.icon-nc-symbol1-10:before,
.icon-nc-symbol1-11:before,
.icon-nc-symbol1-12:before,
.icon-nc-symbol1-13:before,
.icon-nc-symbol1-14:before,
.icon-nc-symbol1-15:before,
.icon-nc-symbol1-16:before,
.icon-nc-symbol1-17:before,
.icon-nc-symbol1-18:before,
.icon-nc-symbol1-19:before,
.icon-nc-symbol1-2:before,
.icon-nc-symbol1-20:before,
.icon-nc-symbol1-21:before,
.icon-nc-symbol1-22:before,
.icon-nc-symbol1-23:before,
.icon-nc-symbol1-24:before,
.icon-nc-symbol1-25:before,
.icon-nc-symbol1-26:before,
.icon-nc-symbol1-27:before,
.icon-nc-symbol1-28:before,
.icon-nc-symbol1-29:before,
.icon-nc-symbol1-3:before,
.icon-nc-symbol1-30:before,
.icon-nc-symbol1-31:before,
.icon-nc-symbol1-32:before,
.icon-nc-symbol1-33:before,
.icon-nc-symbol1-34:before,
.icon-nc-symbol1-35:before,
.icon-nc-symbol1-36:before,
.icon-nc-symbol1-37:before,
.icon-nc-symbol1-38:before,
.icon-nc-symbol1-39:before,
.icon-nc-symbol1-4:before,
.icon-nc-symbol1-40:before,
.icon-nc-symbol1-5:before,
.icon-nc-symbol1-6:before,
.icon-nc-symbol1-7:before,
.icon-nc-symbol1-8:before,
.icon-nc-symbol1-9:before,
.icon-nc-symbol2:before,
.icon-nc-symbol2-1:before,
.icon-nc-symbol2-10:before,
.icon-nc-symbol2-11:before,
.icon-nc-symbol2-12:before,
.icon-nc-symbol2-13:before,
.icon-nc-symbol2-14:before,
.icon-nc-symbol2-15:before,
.icon-nc-symbol2-16:before,
.icon-nc-symbol2-17:before,
.icon-nc-symbol2-18:before,
.icon-nc-symbol2-19:before,
.icon-nc-symbol2-2:before,
.icon-nc-symbol2-20:before,
.icon-nc-symbol2-21:before,
.icon-nc-symbol2-22:before,
.icon-nc-symbol2-23:before,
.icon-nc-symbol2-24:before,
.icon-nc-symbol2-25:before,
.icon-nc-symbol2-26:before,
.icon-nc-symbol2-27:before,
.icon-nc-symbol2-28:before,
.icon-nc-symbol2-29:before,
.icon-nc-symbol2-3:before,
.icon-nc-symbol2-30:before,
.icon-nc-symbol2-31:before,
.icon-nc-symbol2-32:before,
.icon-nc-symbol2-33:before,
.icon-nc-symbol2-4:before,
.icon-nc-symbol2-5:before,
.icon-nc-symbol2-6:before,
.icon-nc-symbol2-7:before,
.icon-nc-symbol2-8:before,
.icon-nc-symbol2-9:before,
.icon-nc-symbol3:before,
.icon-nc-symbol3-1:before,
.icon-nc-symbol3-10:before,
.icon-nc-symbol3-11:before,
.icon-nc-symbol3-12:before,
.icon-nc-symbol3-13:before,
.icon-nc-symbol3-14:before,
.icon-nc-symbol3-15:before,
.icon-nc-symbol3-16:before,
.icon-nc-symbol3-17:before,
.icon-nc-symbol3-18:before,
.icon-nc-symbol3-19:before,
.icon-nc-symbol3-2:before,
.icon-nc-symbol3-20:before,
.icon-nc-symbol3-21:before,
.icon-nc-symbol3-3:before,
.icon-nc-symbol3-4:before,
.icon-nc-symbol3-5:before,
.icon-nc-symbol3-6:before,
.icon-nc-symbol3-7:before,
.icon-nc-symbol3-8:before,
.icon-nc-symbol3-9:before,
.icon-nc-symbol4:before,
.icon-nc-symbol4-1:before,
.icon-nc-symbol4-10:before,
.icon-nc-symbol4-11:before,
.icon-nc-symbol4-12:before,
.icon-nc-symbol4-13:before,
.icon-nc-symbol4-14:before,
.icon-nc-symbol4-15:before,
.icon-nc-symbol4-16:before,
.icon-nc-symbol4-17:before,
.icon-nc-symbol4-18:before,
.icon-nc-symbol4-19:before,
.icon-nc-symbol4-2:before,
.icon-nc-symbol4-20:before,
.icon-nc-symbol4-21:before,
.icon-nc-symbol4-3:before,
.icon-nc-symbol4-4:before,
.icon-nc-symbol4-5:before,
.icon-nc-symbol4-6:before,
.icon-nc-symbol4-7:before,
.icon-nc-symbol4-8:before,
.icon-nc-symbol4-9:before,
.icon-nc-symbol5:before,
.icon-nc-symbol5-1:before,
.icon-nc-symbol5-10:before,
.icon-nc-symbol5-11:before,
.icon-nc-symbol5-12:before,
.icon-nc-symbol5-2:before,
.icon-nc-symbol5-3:before,
.icon-nc-symbol5-4:before,
.icon-nc-symbol5-5:before,
.icon-nc-symbol5-6:before,
.icon-nc-symbol5-7:before,
.icon-nc-symbol5-8:before,
.icon-nc-symbol5-9:before,
.icon-nc-wechat:before,
.icon-nc-weibo:before {
  display: inline-block;
  font-family: "ncfontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-nc-arrow-down:before { content: "\f103"; }
.icon-nc-qq:before { content: "\f100"; }
.icon-nc-symbol1:before { content: "\f183"; }
.icon-nc-symbol1-1:before { content: "\f105"; }
.icon-nc-symbol1-10:before { content: "\f106"; }
.icon-nc-symbol1-11:before { content: "\f107"; }
.icon-nc-symbol1-12:before { content: "\f108"; }
.icon-nc-symbol1-13:before { content: "\f109"; }
.icon-nc-symbol1-14:before { content: "\f10a"; }
.icon-nc-symbol1-15:before { content: "\f10b"; }
.icon-nc-symbol1-16:before { content: "\f10c"; }
.icon-nc-symbol1-17:before { content: "\f10d"; }
.icon-nc-symbol1-18:before { content: "\f10e"; }
.icon-nc-symbol1-19:before { content: "\f10f"; }
.icon-nc-symbol1-2:before { content: "\f110"; }
.icon-nc-symbol1-20:before { content: "\f111"; }
.icon-nc-symbol1-21:before { content: "\f112"; }
.icon-nc-symbol1-22:before { content: "\f113"; }
.icon-nc-symbol1-23:before { content: "\f114"; }
.icon-nc-symbol1-24:before { content: "\f115"; }
.icon-nc-symbol1-25:before { content: "\f116"; }
.icon-nc-symbol1-26:before { content: "\f117"; }
.icon-nc-symbol1-27:before { content: "\f118"; }
.icon-nc-symbol1-28:before { content: "\f119"; }
.icon-nc-symbol1-29:before { content: "\f11a"; }
.icon-nc-symbol1-3:before { content: "\f11b"; }
.icon-nc-symbol1-30:before { content: "\f11c"; }
.icon-nc-symbol1-31:before { content: "\f11d"; }
.icon-nc-symbol1-32:before { content: "\f11e"; }
.icon-nc-symbol1-33:before { content: "\f11f"; }
.icon-nc-symbol1-34:before { content: "\f120"; }
.icon-nc-symbol1-35:before { content: "\f121"; }
.icon-nc-symbol1-36:before { content: "\f122"; }
.icon-nc-symbol1-37:before { content: "\f123"; }
.icon-nc-symbol1-38:before { content: "\f124"; }
.icon-nc-symbol1-39:before { content: "\f125"; }
.icon-nc-symbol1-4:before { content: "\f126"; }
.icon-nc-symbol1-40:before { content: "\f127"; }
.icon-nc-symbol1-5:before { content: "\f128"; }
.icon-nc-symbol1-6:before { content: "\f129"; }
.icon-nc-symbol1-7:before { content: "\f12a"; }
.icon-nc-symbol1-8:before { content: "\f12b"; }
.icon-nc-symbol1-9:before { content: "\f12c"; }
.icon-nc-symbol2:before { content: "\f184"; }
.icon-nc-symbol2-1:before { content: "\f12d"; }
.icon-nc-symbol2-10:before { content: "\f12e"; }
.icon-nc-symbol2-11:before { content: "\f12f"; }
.icon-nc-symbol2-12:before { content: "\f130"; }
.icon-nc-symbol2-13:before { content: "\f131"; }
.icon-nc-symbol2-14:before { content: "\f132"; }
.icon-nc-symbol2-15:before { content: "\f133"; }
.icon-nc-symbol2-16:before { content: "\f134"; }
.icon-nc-symbol2-17:before { content: "\f135"; }
.icon-nc-symbol2-18:before { content: "\f136"; }
.icon-nc-symbol2-19:before { content: "\f137"; }
.icon-nc-symbol2-2:before { content: "\f138"; }
.icon-nc-symbol2-20:before { content: "\f139"; }
.icon-nc-symbol2-21:before { content: "\f13a"; }
.icon-nc-symbol2-22:before { content: "\f13b"; }
.icon-nc-symbol2-23:before { content: "\f13c"; }
.icon-nc-symbol2-24:before { content: "\f13d"; }
.icon-nc-symbol2-25:before { content: "\f13e"; }
.icon-nc-symbol2-26:before { content: "\f13f"; }
.icon-nc-symbol2-27:before { content: "\f140"; }
.icon-nc-symbol2-28:before { content: "\f141"; }
.icon-nc-symbol2-29:before { content: "\f142"; }
.icon-nc-symbol2-3:before { content: "\f143"; }
.icon-nc-symbol2-30:before { content: "\f144"; }
.icon-nc-symbol2-31:before { content: "\f145"; }
.icon-nc-symbol2-32:before { content: "\f146"; }
.icon-nc-symbol2-33:before { content: "\f147"; }
.icon-nc-symbol2-4:before { content: "\f148"; }
.icon-nc-symbol2-5:before { content: "\f149"; }
.icon-nc-symbol2-6:before { content: "\f14a"; }
.icon-nc-symbol2-7:before { content: "\f14b"; }
.icon-nc-symbol2-8:before { content: "\f14c"; }
.icon-nc-symbol2-9:before { content: "\f14d"; }
.icon-nc-symbol3:before { content: "\f185"; }
.icon-nc-symbol3-1:before { content: "\f14e"; }
.icon-nc-symbol3-10:before { content: "\f14f"; }
.icon-nc-symbol3-11:before { content: "\f150"; }
.icon-nc-symbol3-12:before { content: "\f151"; }
.icon-nc-symbol3-13:before { content: "\f152"; }
.icon-nc-symbol3-14:before { content: "\f153"; }
.icon-nc-symbol3-15:before { content: "\f154"; }
.icon-nc-symbol3-16:before { content: "\f155"; }
.icon-nc-symbol3-17:before { content: "\f156"; }
.icon-nc-symbol3-18:before { content: "\f157"; }
.icon-nc-symbol3-19:before { content: "\f158"; }
.icon-nc-symbol3-2:before { content: "\f159"; }
.icon-nc-symbol3-20:before { content: "\f15a"; }
.icon-nc-symbol3-21:before { content: "\f15b"; }
.icon-nc-symbol3-3:before { content: "\f15c"; }
.icon-nc-symbol3-4:before { content: "\f15d"; }
.icon-nc-symbol3-5:before { content: "\f15e"; }
.icon-nc-symbol3-6:before { content: "\f15f"; }
.icon-nc-symbol3-7:before { content: "\f160"; }
.icon-nc-symbol3-8:before { content: "\f161"; }
.icon-nc-symbol3-9:before { content: "\f162"; }
.icon-nc-symbol4:before { content: "\f186"; }
.icon-nc-symbol4-1:before { content: "\f163"; }
.icon-nc-symbol4-10:before { content: "\f164"; }
.icon-nc-symbol4-11:before { content: "\f165"; }
.icon-nc-symbol4-12:before { content: "\f166"; }
.icon-nc-symbol4-13:before { content: "\f167"; }
.icon-nc-symbol4-14:before { content: "\f168"; }
.icon-nc-symbol4-15:before { content: "\f169"; }
.icon-nc-symbol4-16:before { content: "\f16a"; }
.icon-nc-symbol4-17:before { content: "\f16b"; }
.icon-nc-symbol4-18:before { content: "\f16c"; }
.icon-nc-symbol4-19:before { content: "\f16d"; }
.icon-nc-symbol4-2:before { content: "\f16e"; }
.icon-nc-symbol4-20:before { content: "\f16f"; }
.icon-nc-symbol4-21:before { content: "\f188"; }
.icon-nc-symbol4-3:before { content: "\f170"; }
.icon-nc-symbol4-4:before { content: "\f171"; }
.icon-nc-symbol4-5:before { content: "\f172"; }
.icon-nc-symbol4-6:before { content: "\f173"; }
.icon-nc-symbol4-7:before { content: "\f174"; }
.icon-nc-symbol4-8:before { content: "\f175"; }
.icon-nc-symbol4-9:before { content: "\f176"; }
.icon-nc-symbol5:before { content: "\f187"; }
.icon-nc-symbol5-1:before { content: "\f177"; }
.icon-nc-symbol5-10:before { content: "\f178"; }
.icon-nc-symbol5-11:before { content: "\f179"; }
.icon-nc-symbol5-12:before { content: "\f17a"; }
.icon-nc-symbol5-2:before { content: "\f17b"; }
.icon-nc-symbol5-3:before { content: "\f17c"; }
.icon-nc-symbol5-4:before { content: "\f17d"; }
.icon-nc-symbol5-5:before { content: "\f17e"; }
.icon-nc-symbol5-6:before { content: "\f17f"; }
.icon-nc-symbol5-7:before { content: "\f180"; }
.icon-nc-symbol5-8:before { content: "\f181"; }
.icon-nc-symbol5-9:before { content: "\f182"; }
.icon-nc-wechat:before { content: "\f101"; }
.icon-nc-weibo:before { content: "\f102"; }
